   </div>
    </div>
    </div>
    
    <footer id="footer" class="page">
      <div class="inner clearfix">    
          <div class="cern-logo">
          <a href="http://cern.ch/" title="CERN" rel="CERN">
            <img src="cern-logo-large.png" alt="CERN">
          </a>
        </div>
      </div>
    </footer>
