html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
html{font-size:62.5%;overflow-x:hidden}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],
dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
input,select{vertical-align:middle}
label{display:block;margin-bottom:0.2em;clear:both;font-weight:normal}
img{vertical-align:bottom}

ul.menu{line-height:1;list-style-type:none;margin:0;padding:0}
ul.menu li{margin:0;padding:0}
ul.menu a{line-height:1.4em}
.contextual-links-trigger{padding:0 !important}
ul.primary,ul.secondary{border-bottom:1px solid #ddd;list-style:none;padding:0 2px;white-space:nowrap;font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif}
#content ul.primary,#content ul.secondary{margin:1em 0 1.5em}
ul.primary:after,ul.secondary:after{content:".";display:block;height:0;clear:both;visibility:hidden}
ul.primary a,ul.secondary a{border-right:0;border-bottom:0;display:block;line-height:1.5em;text-decoration:none}
ul.primary li{border-bottom:0;margin:0.5em 0.1em 0 0;display:block;float:left}
ul.primary li.active{margin-bottom:-1px;border-bottom:1px solid #FFFFFF}
ul.primary a:link,ul.primary a:visited{-moz-transition:background-color 0.3s;-webkit-transition:background-color 0.3s;-o-transition:background-color 0.3s;transition:background-color 0.3s;color:#626262;background-color:#f2f2f2;letter-spacing:1px;padding:0.2em 1em;text-align:center;font-size:14px;border:1px solid #e0e0e0;border-bottom:none}
ul.primary a:hover,ul.primary a:focus{background-color:#f8f8f8;border-color:#e0e0e0;font-size:14px}
ul.primary a.active{background-color:#fff;font-size:14px}
ul.secondary{font-size:.9em;margin-top:-1.5em;padding-bottom:.5em}
ul.secondary a:link,ul.secondary a:visited{-moz-transition:background-color 0.3s;-webkit-transition:background-color 0.3s;-o-transition:background-color 0.3s;transition:background-color 0.3s;text-shadow:white 1px 1px 0;background-color:#f2f2f2;color:#666;padding:0 .5em}
ul.secondary a:hover,ul.secondary a:focus{background-color:#dedede;border-color:#999;color:#333}
ul.secondary a.active,ul.secondary a:active{text-shadow:#333333 1px 1px 0;background-color:#666;border-color:#000;color:#fff}
ul.inline,ul.links.inline{display:inline;padding-left:0;margin:0}
ul.inline li{display:inline;list-style-type:none;padding:0 0.5em}
ul.inline li.first{padding-left:0;margin-left:0}
.breadcrumb{padding-bottom:0.5em}
div.messages{background-position:8px 8px;background-repeat:no-repeat;border:1px solid;margin-bottom:2em;padding:10px}
div.status{border-color:#be7}
div.status,.ok{color:#234600}
div.status,table tr.ok{background-color:#f8fff0;background-image:none}
div.warning{border-color:#ed5}
div.warning,.warning{color:#840}
div.warning,table tr.warning{background-color:#fffce5;background-image:none}
div.error{border-color:#ed541d;background-image:none}
div.error,.error{color:#8c2e0b}
div.error,table tr.error{background-color:#fef5f1;background-image:none}
div.error p.error{color:#333}
div.messages ul{margin:0 0 0 1em;padding:0}
div.messages ul li{list-style-image:none}
div.workbench-info-block{border:1px solid;margin-bottom:2em;padding:10px;background-color:#fffce5;border-color:#ed5}
html.js input.form-autocomplete{background-image:url(/sites/all/themes/cern_base/img/throbber-active.gif);background-image:url(/sites/all/themes/cern_base/img/throbber.gif);background-position:99% 0.7em;background-repeat:no-repeat}
html.js input.throbbing{background-image:url(/sites/all/themes/cern_base/img/throbber-active.gif);background-position:99% 0.7em}
label,.field .field-label{font-weight:normal}
#content img.file-icon,#content img.print-icon{margin-top:0;margin-bottom:0;display:inline-block}
#content .field-body{margin-bottom:1.5em}
ul.views-view-grid{padding-left:0;list-style:none;list-style-image:none}
ul.views-view-grid span[class*=row]{display:block;width:100%}
ul.views-view-grid li{float:left;padding:0.5em;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.ie6-8 ul.views-view-grid li{padding:0.5em 0}
ul.views-view-grid.views-view-grid li+li{margin-top:0}
ul.views-view-grid li.col-first{padding-left:0}
ul.views-view-grid li.col-last{padding-right:0}
body{font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;font-size:14px;font-size:1.4rem;line-height:1.6;color:#333}
#content{font-size:16px;font-size:1.6rem;font-family:"PT Serif",Georgia,"Times New Roman","DejaVu Serif",serif}
#content .sidebars{font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif}
.page .field-name-body,.page .field-body,.page article.node,#page .field-name-body,#page .field-body,#page article.node{font-family:"PT Serif",Georgia,"Times New Roman","DejaVu Serif",serif}
h1,h2,h3,h4,h5,h6{font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;color:#333;font-weight:600}
h1{font-size:2.5em;margin:0 0 0.5em 0}
h1#site-name{margin-top:0}
h2{font-size:1.5em}
h3,h4,h5,h6{margin-bottom:0}
h4,h5,h6{font-weight:400;font-size:1em}
h4{font-style:italic}
h5{text-transform:uppercase;letter-spacing:0.05em}
h6{color:#999}
p+p,p+ul,p+ol{margin-top:1ex}
p.standfirst{font-size:1.5em;line-height:28px;margin-bottom:1em;color:#333}

blockquote{margin:0 2em 1em;color:#999}
cite{display:inline}
code{font-family:'PT Mono',monospace;margin:1em 0.5em 1em;color:#999;margin-bottom:1em}
p code,dd code{display:inline}
sup{font-size:0.7em;top:-0.6em;position:relative;margin:0 2px 0 2px;font-family:"PT Sans Caption",Verdana,Tahoma,"DejaVu Sans",sans-serif}
sub{font-size:0.7em;bottom:-0.3em;position:relative;margin:0 2px 0 2px;font-family:"PT Sans Caption",Verdana,Tahoma,"DejaVu Sans",sans-serif}
small{font-size:0.8em;font-style:italic;font-family:"PT Sans Caption",Verdana,Tahoma,"DejaVu Sans",sans-serif}
del{color:#999}
ins,mark{background-color:#f1f2ee;padding:0 0.01em 0 0.01em;font-style:normal;font-weight:normal}
li ol{list-style:outside lower-alpha}
ul.links{list-style:none}
ol{margin-left:1.7em}
.translation_fr:before,.translation_en:before{content:"Voir en "}
.translation_en:before{content:"View in "}

a{color:#4d94cc;text-decoration:none;-moz-transition:color 0.2s ease-out;-webkit-transition:color 0.2s ease-out;transition:color 0.2s ease-out}
a:hover{color:#256ca4}
a:active{color:#256ca4}
a:focus{color:#256ca4}
a:visited{color:#915ec9}
a.active-trail{color:#999;text-decoration:none}
a:link{-webkit-tap-highlight-color:#d6ecfe}
::-webkit-selection{background:#d6ecfe;text-shadow:none}
::-moz-selection{background:#d6ecfe;text-shadow:none}
::selection{background:#d6ecfe;text-shadow:none}
tbody,thead,tfoot{display:table-row-group}
tr{display:table-row}
tr:nth-child(2n){background:#f6f6f6}
th,td{text-align:left;padding:0em 0.5em}
th{border-bottom:1px solid #ddd;border-top:2px solid #ddd;font-weight:400;color:#999;padding-top:0.5em}
tfoot td{font-weight:bold}
td.head{font-style:italic}

div.views-row+div.views-row,.search-result.search-result+.search-result.search-result{margin-top:1.5em}
div.views-row h2,.search-result.search-result h2{font-size:1.2em;margin-top:0;margin-bottom:1ex}
div.views-row h3,.search-result.search-result h3{margin-top:0}
.ie6-8 div.views-row,.ie6-8 .search-result.search-result{display:block}
#block-views-topics-block-1 h3{font-size:1.2em}
.item-list.item-list ul,.menu ul,.view-content ul{margin:0}
.item-list.item-list li,.menu li,.view-content li{list-style:none;display:block;margin:0}
.item-list.item-list li+li,.menu li+li,.view-content li+li{margin-top:0.5em}
.item-list.item-list h3,.menu h3,.view-content h3{font-weight:400}
#content-meta .view-content ul{margin:0}
#content-meta .view-content li{display:list-item;list-style:disc outside;margin-left:1em}
#content-meta .view-content li+li{margin-top:1em}
#content-meta .view-content h3{font-weight:400}
ol.search-results{margin:0}
ol.search-results .meta.meta.meta{display:inline}
ol.search-results li{margin:0}
.clearfix:before,.views-row:before,.blurb:before,.search-results .search-result:before,.promo:before,.clearfix:after,.views-row:after,.blurb:after,.search-results .search-result:after,.promo:after{content:"";display:table}
.clearfix:after,.views-row:after,.blurb:after,.search-results .search-result:after,.promo:after{clear:both}
.clearfix,.views-row,.blurb,.search-results .search-result,.promo{zoom:1}
.page h2,.node h2{font-weight:600;margin-bottom:1ex;margin-top:1em;font-size:1.5em}
.page h2:first-child,.node h2:first-child{margin-top:0}
.page h3,.node h3{margin-top:1em}
.page cite,.page figcaption,.page .field-caption,.node cite,.node figcaption,.node .field-caption{color:#999;display:block;font-family:"PT Sans Caption",Verdana,Tahoma,"DejaVu Sans",sans-serif;font-size:12px;margin-top:0.5em}
.page blockquote,.node blockquote{font-size:1.2em;font-style:italic;margin:1em 0;padding:0.5em 2em;position:relative;color:#333}
.page .field-image img,.node .field-image img{border:none}
.page .pullquote,.node .pullquote{border-top:1px solid #ddd;font-family:"PT Sans Caption",Verdana,Tahoma,"DejaVu Sans",sans-serif;font-size:1.3em;margin:1em 0;padding:1em 0;position:relative}
[class*="icon"]{width:auto;border:none !important}
[class*="icon"] img{width:auto;border:none !important}
.more-link{text-align:left;font-style:italic;margin-top:1em;font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif}
.more-link a:after{content:"›";margin-left:0.2em}
.meta.meta.meta{color:#999;display:inline-block;font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;font-size:0.9em}
span.ext{background-image:url(/sites/all/themes/cern_base/images/icon-link.png)}
img{width:100%;max-width:100%;height:auto;padding:0 !important}
img[alt^=sort]{border:none;vertical-align:middle;margin-left:0.5em;width:auto}
#main img{border:1px solid #ddd}
hr{height:0;width:100%;display:block;border:none;border-top:1px solid #ddd;margin:2em 0}

html.js fieldset.collapsible{margin-bottom:1em}
html.js fieldset.collapsible legend{width:100%;background-color:#eee;font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif}
html.js fieldset.collapsible legend .fieldset-legend{padding:0.2em 2em;border:1px solid #E0E0E0;background-position:1em 0.8em}
html.js fieldset.collapsible legend a{color:#333}
html.js fieldset.collapsible .fieldset-wrapper{padding:0.5em 1em;overflow:hidden;border:1px solid #E0E0E0;border-top:none}
html.js fieldset.collapsible .field-name-field-tags{color:#999;font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif}
html.js fieldset.collapsible .field-label{float:left;padding-right:12px;padding-right:1.2rem;font-weight:normal}
html.js fieldset.collapsible .field-name-field-tags .field-item{float:left;padding-right:1.2rem;white-space:nowrap}
table{font-size:0.875em}
form.webform-client-form .webform-component{margin:0 0 2em}
form.webform-client-form label:first-child{font-weight:bold}
form.webform-client-form input[type="text"]{float:none}
form.webform-client-form .form-item,form.webform-client-form .form-actions{margin-bottom:1em;margin-top:1em}
form.webform-client-form .webform-container-inline div,form.webform-client-form .webform-container-inline div.form-item{display:inline}

body{background-color:#eee}
#header{background:url(/sites/all/themes/cern/img/bg-shadow.png) repeat-x left bottom;padding-top:21px;border-top-style:solid;border-top-width:4px;border-bottom:1px solid #b8b8b8;color:#565656;z-index:100;position:relative}
#header .header-group{margin-bottom:2em}
@media only screen and (max-width:749px){#header .header-group{margin-bottom:0}
}
#header h2{font-weight:600;font-size:30px;font-size:3rem;margin:0;clear:none}
#header h3{font-weight:400;line-height:1.2em}
#header #block-multiblock-1{position:absolute;bottom:1em}
.inner,.region-sub-navigation{margin-left:auto;margin-right:auto;width:90%;max-width:1100px;position:relative}
.ie6-8 .inner,.ie6-8 .region-sub-navigation{width:960px}
.region-sub-navigation .block{padding-bottom:0;padding-top:0}
.region-sub-navigation .menu{background:none repeat scroll 0 0 rgba(0,0,0,0);display:block;padding:1em 0 0;line-height:1;font-size:14px;font-size:1.4rem}
@media only screen and (max-width:1023px){.region-sub-navigation .menu{font-size:12px;font-size:1.2rem;padding:2em 0 0}
}
.region-sub-navigation .menu li{margin-top:0}
.region-sub-navigation .menu a{display:block;float:left;margin-right:2em}
.region-sub-navigation .menu a.active{border-radius:3px;padding:0.3em 0.5em;color:#333;background-color:#ddd;margin-top:-0.3em;margin-left:-0.5em}
.ie6-8 .region-sub-navigation .menu a.active{background-color:transparent}
.region-sub-navigation .menu .item-list.item-list li+li,.menu li+li{margin-top:0}
#logo{margin-bottom:0.5em}
.logobanner #logo{width:100%}
.logofloat #logo{min-height:60px;float:left;margin-right:1em}
#header .region-header{position:absolute;width:200px;top:0;right:0}
#block-locale-language{text-align:right;font-size:12px;font-size:1.2rem;margin:0 0 1em}
#block-locale-language .language-switcher-locale-url{display:block;list-style-type:none;overflow:hidden}
#block-locale-language li{margin:0;padding:0;display:inline;line-height:1}
#block-locale-language li a{display:block;float:right;margin-left:2em;line-height:1.4em}
#navmobile{display:none}
#main-navigation{margin:0 auto -1px;background:none;padding:0;display:block;overflow:hidden;font-size:14px;font-size:1.4rem}
@media only screen and (max-width:1023px){#main-navigation{font-size:12px;font-size:1.2rem}
}
#main-navigation ul{margin:0}
#main-navigation li{margin:0;list-style:none}
#main-navigation a{color:#fff;border-style:solid;border-width:1px;border-bottom:none;font-weight:700;display:block;float:left;margin-right:0.3em;padding:0.5em 1em}
#main-navigation a:hover{background:#256ca4;text-decoration:none}
#main-navigation a.active-trail{background:#fff;border:1px solid #b8b8b8;border-bottom:none;color:#686868}
#main{padding-top:3em;padding-bottom:5em}

.no-sidebars #content{width:100%;clear:both;display:block}
#content article header{margin-bottom:1em}
#content img[style*="float"][style*="left"][style*="width"]{margin-right:1em}
#content .submitted{color:#999;font-size:0.8em;font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;margin-bottom:1em}
#content .submitted-below{margin-top:1em}
#content label{font-weight:bold}
@media only screen and (max-width:749px){#page-title{font-size:1.8em}
}
article{border-bottom:1px solid #E0E0E0;margin-bottom:2em;padding-bottom:1em}
#content ul.links{display:block;margin:0}
.sidebars .block2{border:none}
.sidebars .menu{margin:0}
.sidebars .menu li{display:block}
.sidebars .menu li+li{margin-top:1em}
.sidebars .menu .menu{margin-left:1em}
.sidebars .region>.menu{margin-bottom:3em}
.sidebars li.active-trail .active{border-radius:3px;padding:0.3em 0.5em;color:#333;background-color:#ddd;position:relative;left:-0.5em}
.ie6-8 .sidebars li.active-trail .active{background-color:transparent}
.sidebars ul,.sidebars ol{margin-left:1.7em}
#search-block-form,.block-cernsearchbox{margin:0}
#search-block-form .form-item-search-block-form,#search-block-form .form-item-cernsearchboxtext,.block-cernsearchbox .form-item-search-block-form,.block-cernsearchbox .form-item-cernsearchboxtext{padding-right:60px;display:block;overflow:hidden;margin-bottom:0}
#search-block-form input[type=text],.block-cernsearchbox input[type=text]{height:24px;font-size:12px;font-size:1.2rem;line-height:25px;width:100%}
#search-block-form input[type=submit],.block-cernsearchbox input[type=submit]{width:50px;height:26px;line-height:22px;font-size:11px;font-size:1.1rem;margin-top:-26px;float:right}
#footer{font-size:12px;font-size:1.2rem;padding:2em 0;background:#eee;border-top:1px solid #ccc}
#footer img{width:auto}
#footer .inner{min-height:130px;min-height:13rem;margin-bottom:1em;position:relative}
#footer .region-footer-first,#footer .region-footer-second{margin-bottom:1em}
#footer .cern-logo{float:right;width:100px;opacity:0.6}
#footer .cern-logo img{margin-right:0;float:right}
#footer .region-footer-first{display:block;float:left;margin-left:0;margin-right:-100%;width:38.80859%}
#footer .region-footer-second{display:block;float:left;margin-left:40.76172%;margin-right:-100%;width:38.80859%}
@media only screen and (max-width:749px){#header{border-bottom:none}
#header #site-name{font-size:20px;font-size:2rem;line-height:1.4;margin-bottom:0.5em}
#header #site-slogan{margin-bottom:1.5em}
#header #block-locale-language{padding:0;margin:0}
#header .region-header{top:auto;bottom:0.4em;font-size:11px;font-size:1.1rem}
#header .region-header a{color:#fff;padding:0.3em 0.5em;margin-left:1em}
#header .region-header a.active{border-radius:3px;padding:0.3em 0.5em;background-color:rgba(255,255,255,0.2);color:#eee;text-shadow:0 0 5px #000;text-shadow:none}
.ie6-8 #header .region-header a.active{color:#fff}
.ie6-8 #header .region-header a.active{background-color:transparent}
#main-navigation,.region-sub-navigation{display:none}
#navmobile{display:block;font-size:12px;font-size:1.2rem;position:relative;padding:0 5.5555%;left:-5.5555%;width:111.111%;margin-top:1em;overflow:hidden}
#navmobile a{color:#fff;padding:0.5em 5.5555%;left:-5.5555%;width:111.111%;position:relative;display:block;background-color:#333;background-color:rgba(255,255,255,0.2);margin-bottom:1px}
#navmobile a:hover{background-color:#fff;color:#333}
#navmobile ul ul{margin-left:1.5em}
#navdrop{display:none}
#navdrop>ul>.last a{margin-bottom:0}
#navlinks{font-weight:700;border-bottom:1px solid rgba(0,0,0,0.1) !important;margin-bottom:0 !important}
#navlinks:hover{background-color:#333 !important;color:#fff !important;border-bottom-color:#111 !important}
#navlinks:after{content:"";margin:0 0 0 0.5em;height:0;width:0;border:4px solid transparent;border-top-color:#fff;position:relative;top:0.7em}
}
img{width:auto}
#main img{border:none}
.field-image-caption{font-size:smaller;color:#999;font-family:"PT Sans Caption",Verdana,Tahoma,"DejaVu Sans",sans-serif;margin-bottom:1em;padding-left:20px;background-image:url(/sites/all/themes/cern/img/pictures.png);background-repeat:no-repeat;background-position:0 0.1em}
.gridoverlay{max-width:1100px !important;margin:0 auto !important;width:90% !important}

body{color:#444444}
#wrapper{background:#ffffff}
a,
a:hover{color:#4d94cd}

a:visited{color:#85228c}
#site-name a,#header 
h3{color:#333333}
#main-navigation a.active-trail{background:#ffffff}
#main-navigation a{background:#4d94ce;border-color:#4d94ce;color:#fefefe}
#main-navigation a:hover{background:#ffffff;color:#444444}
#header{border-top-color:#4d94cc;background-color:#eaeaea}
.sidebars .block{border-color:#e0e0e0}
#navlinks.button,#navmobile,#search-block-form input[type=submit],#cernsearch-block-form input[type=submit]{color:#fefefe;background-color:#4d94ce}


.memitem {
    text-align: left;
    color: black;
	background:#f6f6f6;
	font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
	padding: 0;
	margin-bottom: 10px;
	border:#fAfAfA 5px solid;
}



.memname {
	background: #f6f6f6;
	font-weight: bold;
    color: black;
	background: #f6f6f6; 
	font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
}
.memname tr:nth-child(even) { background: #f6f6f6; }
.memname tr:nth-child(odd) { background: #f6f6f6; }


.paramname {
    text-align: left;

    color: black;
	font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
} 
.paramtype {
	white-space: nowrap;
    text-align: left;
    color: black;
	font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
} 
.paramkey {
    text-align: right;
    color: black;
	font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
}


.tabs {
	font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
}
.contents {
	font-family:"PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
}



/* @group Code Colorization */

span.keyword {
	color: #008000
}

span.keywordtype {
	color: #604020
}

span.keywordflow {
	color: #e08000
}

span.comment {
	color: #800000
}

span.preprocessor {
	color: #806020
}

span.stringliteral {
	color: #002080
}

span.charliteral {
	color: #008080
}


.fragment {
	font-family: monospace, fixed;
	font-size: 95%;
}

pre.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	padding: 4px 6px;
	margin: 4px 8px 4px 2px;
}

.title {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
